# Segmenting and Clustering Neighborhoods in Toronto

#### Step 1. Import libraries

In [ ]:
from pandas.io.html import read_html as pdhtml
import pandas as pd

#### Step 2. Scrape Wikipedia page.

In [162]:
page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfhtml = pdhtml(page, index_col=None, header=0, attrs={"class":"wikitable"})
df = pd.DataFrame(columns = column_names)
df = dfhtml[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### Step 3. Ignore (remove) cells with a Borough = Not assigned.

In [153]:
df = df.drop(df[df.Borough == 'Not assigned'].index)

#### Step 4. Group rows by Postcodes and Borough

In [163]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df.head()

  Postcode       Borough                           Neighbourhood
0      M1A  Not assigned                            Not assigned
1      M1B   Scarborough                          Rouge, Malvern
2      M1C   Scarborough  Highland Creek, Rouge Hill, Port Union
3      M1E   Scarborough       Guildwood, Morningside, West Hill
4      M1G   Scarborough                                  Woburn

#### Step 5. When Neighbourhood value is 'Not assigned', assign Borough's name.

a. Explore how many rows have this behaviour.

In [148]:
df[df.Neighbourhood  == 'Not assigned']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

b. Just one row, so lets replace just that specifi row.

In [158]:
df.at[85, 'Neighbourhood'] = 'Queen\'s Park'

c. Confirm dataset haven't nondesire values.

In [159]:
df[df.Neighbourhood  == 'Not assigned']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

#### Step 6. Shows dataset dimension.

In [161]:
df.shape

(103, 3)