# Description of the problem and a discussion of the background.

## Problem

The State of Los Angles has statistics about his population by ZIP code. Some resident of this city wants to know which could be the best zip code for opening a new store. So the problem is about look the best top 10 ZIP codes in order to let him know where could be the best place for opening a new business. He doesn't have any prefence about the kind of business, so it could be any type of Venue.

# Description of the data and how it will be used to solve the problem.
### Data sources

#### Los Angeles has a Open Data web site available from where we are going to get the follwing two datasets. The Venues are going to be collected using Foursquare API.

<b>Dataset 1.</b>
<br />Population data regarded from 2010 census grouped by ZIP code (https://catalog.data.gov).

<b>Dataset 2.</b>
<br />ZIP codes with it's Latitude and Longitude value (https://catalog.data.gov).

<b>Dataset 3.</b>
<br />Foursquare.com will provide us with the quantity of Venues registered on their database that will be query using latitude and longitude for each Zip Code ( https://foursquare.com/ ).

### How Solve the problem.

Once we have Venues per Zip Code, we will check if there any relation between population and quantity of Venues. In order to do that we will make a simple projection of the population using yearly growth rate found in the web site http://worldpopulationreview.com/us-counties/ca/los-angeles-county-population/ , and then apply some techniques such as PCA, ANOVA and confusion matrix.
<br />
<br /> After have the estimate population, some models will be applying over final dataset, and the best model performance is going to be selected depending of the test results. Once the moldel is selected, a new prjection will be done in order to know what will be cluster with more growth in the next 2 years, and that cluster shall be the suggest within their zip codes.

In [2]:
import pandas as pd

In [3]:
census = pd.read_csv('https://data.lacity.org/api/views/nxs9-385f/rows.csv?accessType=DOWNLOAD')

In [4]:
census.head(10)

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,91371,1,73.5,0,1,1,1.00
1,90001,57110,26.6,28468,28642,12971,4.40
2,90002,51223,25.5,24876,26347,11731,4.36
3,90003,66266,26.3,32631,33635,15642,4.22
4,90004,62180,34.8,31302,30878,22547,2.73
5,90005,37681,33.9,19299,18382,15044,2.50
6,90006,59185,32.4,30254,28931,18617,3.13
7,90007,40920,24.0,20915,20005,11944,3.00
8,90008,32327,39.7,14477,17850,13841,2.33
9,90010,3800,37.8,1874,1926,2014,1.87

In [8]:
census_grouped = census[['Zip Code', 'Total Population']].groupby('Zip Code').sum()
census_grouped.head()

          Total Population
Zip Code
90001                57110
90002                51223
90003                66266
90004                62180
90005                37681

In [11]:
zip_codes = pd.read_csv('https://data.lacity.org/api/views/4ca8-mxuh/rows.csv?accessType=DOWNLOAD',low_memory=False)
zip_codes.head()

,HSE_ID,PIN,PIND,HSE_NBR,HSE_FRAC_NBR,HSE_DIR_CD,STR_NM,STR_SFX_CD,STR_SFX_DIR_CD,UNIT_RANGE,ZIP_CD,LAT,LON,X_COORD_NBR,Y_COORD_NBR,ASGN_STTS_IND,ENG_DIST,CNCL_DIST
0,1,153B165 544,153B165-544,8640,NaN,W,MULHOLLAND,DR,NaN,NaN,90210,34.12014,-118.39278,6.442784e+06,1.866335e+06,U,W,4.0
1,2,153B165 544,153B165-544,8686,NaN,W,EDWIN,DR,NaN,NaN,90046,34.12017,-118.39228,6.442938e+06,1.866344e+06,A,W,4.0
2,4,153B169 13,153B169-13,8250,NaN,W,SKYLINE,DR,NaN,NaN,90046,34.11992,-118.38966,6.443731e+06,1.866253e+06,A,W,4.0
3,5,156A181 4,156A181-4,2909,NaN,N,PASSMORE,DR,NaN,NaN,90068,34.12373,-118.35147,6.455294e+06,1.867597e+06,U,V,4.0
4,6,156A181 7,156A181-7,7321,NaN,W,WOODROW WILSON,DR,NaN,NaN,90046,34.12355,-118.35299,6.454833e+06,1.867531e+06,A,V,4.0

In [15]:
zip_90001 = zip_codes[zip_codes['ZIP_CD'] == 90001]
zip_90001 = zip_90001[['ZIP_CD','LAT', 'LON']]
zip_90001.head()

        ZIP_CD       LAT        LON
410529   90001  33.96327 -118.26094
410530   90001  33.96298 -118.26110
410531   90001  33.96298 -118.26123
410532   90001  33.96298 -118.26114
410533   90001  33.96298 -118.26136

### Data Results:

The <b>zip_90001</b> combined with <b>census</b> dataset will provide the population with it's latitude and longude, and then using python code the populition will be raise until 2018 using the following growth rates per year: 
<ul style="list-style-type:none;">
  <li>2011 - 0.63%</li>
  <li>2012 - 0.71%</li>
  <li>2013 - 0.63%</li>
  <li>2014 - 0.54%</li>
  <li>2015 - 0.50%</li>    
  <li>2016 - 0.27%</li>   
  <li>2017 - 0.13%</li>  
  <li>2018 - 0.06%</li>  
</ul>

<br />
The latest estimation of Los Angeles population is 4,054,400, so the total population value obteined after projection, should be fit around that value. 
<br /> Source: http://www.dof.ca.gov/Forecasting/Demographics/Estimates/e-1/documents/E-1_2018PressRelease.pdf